.checkout-error {
  margin: 30px;
  text-align: center;
  color: red;
}

.card-check {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #8f969e;

  display: flex;

  .image-area-check {
    min-width: 30%;
    border: 3px solid #c7a061;
    border-radius: 3px;
    margin-right: 15px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .content-area-check {
    width: 70%;

    .title-price-area-check {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      overflow: hidden;

      h2 {
        max-height: 50px;
      }

      p {
        min-width: 70px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .card-check {
    max-width: 90%;
    flex-direction: column;

    .content-area-check {
      .title-price-area-check {
        flex-direction: column;

        h2 {
          margin: 20px 0;
        }
      }
    }
  }
}
