#main-heading {
  text-align: center;
  margin: 20px auto;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  margin-top: 30px;
  // background-color: rgb(226, 223, 226);

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .card {
    // width: 45%;
    margin: 30px 20px;
    padding: 10px;
    border: 1px solid #8f969e;
    border-radius: 10px;
    transition: 0.3s;

    display: flex;

    .image-area {
      max-width: 150px;
      max-height: 200px;
      border: 3px solid #c7a061;
      border-radius: 3px;
      margin-right: 15px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .content-area {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title-desription-area {
        padding: 0 10px;

        h2 {
          margin-bottom: 8px;
        }
      }

      .bottom-area {
        padding: 0 10px;

        .button-area {
          min-width: 146px;
          margin: auto;
          margin-top: 20px;

          button {
            display: block;
            color: #18383a;
            background-color: #76c4aa;
            padding: 0.5rem 0.8rem;
            width: 100%;
            font-size: 0.9rem;
            border-radius: 25px;
            border: 1px solid transparent;
            background: linear-gradient(45deg, #c7beca, #8e9a9b, #c7beca);
            background-size: 200%;
            border-radius: 0.25rem;
            cursor: pointer;
            transition: 0.3s;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .container {
    .card {
      flex-direction: column;

      .image-area {
        max-width: 165px;
        margin-right: 0;
      }

      .content-area {
        .title-desription-area {
          h2 {
            margin-top: 10px;
          }

          p {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
